<h2>Sign up</h2>
<form action="/users" method= "post">
  Name:<br>
  <input type="text" name="user[name]"><br>
  E-mail:<br>
  <input type="text" name="user[email]"><br>
  Password:<br>
  <input type="password" name="user[password]"><br><br>
  <input type="submit" value="Sign up">
</form>